{{> privateNavbar}}


<main>
    <div class="card text-center">
        <section class="mt-4 border p-3 rounded-2 bg-light">
            <h2 class="text-center">Your Posts</h2>
            <hr />
            <div class="accordion" id="accordion">
            {{#each userPosts}}
                <div class="accordion-item">
                    <h2 class="accordion-header" id={{id}}>
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target={{addString "#post" id}} aria-expanded="false" aria-controls={{addString "post" id}}>
                        <h4>{{title}}</h3>
                    </button>
                    </h2>
                    <div id={{addString "post" id}} class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                    <div class="accordion-body">
                        {{description}}
                          <div class="card-footer text-muted">
                            Created: {{createdAt}} <br/>
                            Updated: {{updatedAt}} <br/>
                            <a href="/create" class="btn btn-primary">Edit</a>
                            </div>
                    </div>

                    </div>
                </div>
            {{/each}}
            </div>
        </section>


        <div class="card-footer fixed-bottom">
            <a href="/create" class="btn btn-primary">+ Create New Blog Post</a>
        </div>
    </div>
</main>
